section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,150,0,0.1);
  margin: auto;
  width: 700px;
  height: 70vh;
  margin-top: 30px;
  margin-bottom: 30px;
  div{
    align-self: stretch;
    background-color: green;
    flex: 1;
    padding: 0px;
    figure{
     height: 100%;
     width: 100%;
     text-align: center;
     margin: 0px;
     img{
       height: 100%;
       width: 100%;
     }
    }
  }
  form{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    h1{
      margin-bottom: 30px;
    }
  }
}
