<div class="main">
    <p class="title">Here is the LIAVART's portal website. A gateway to access to the main services provided by the enterprise.</p>
    <div class="cards">
        <a routerLink="liavart">
            <div class="card" id="liavart_card">
                <figure><img src="/assets/business-man.png"></figure>
                <div>
                    <p>What are You ? A Job provider ? A Job supplier ? A services provider ? Or you are looking for qualified person to provide you some services ?</p>
                    <p>Don't wait longer, and connect here to express your need, and discover many other people who have the same interest as yours.</p>
                </div>
            </div>
        </a>
        <a routerLink="lishop">
            <div class="card" id="lishop_card">
                <figure><img src="/assets/lishopFlyer1.png"></figure>
                <div>
                    <p>Do you need new attires ? New jewelry ? Interested on High-tech tools ? Are you a gamer ? Do you need any item ?</p>
                    <p>Here is your shop! Come on and discover  various kinds of items that you can buy online and get delivered.</p>
                </div>
            </div>
        </a>
    </div>
</div>